DB_HOST="localhost"
DB_USERNAME="your_database_user"
DB_PASSWORD="your_database_password"
DB_DATABASE="your_database_name"

SMTP_API_KEY="your_smtp_api_key"
DOMAIN_NAME="example.com"
RECAPTCHA_SITE_KEY="your_recaptcha_site_key"
RECAPTCHA_SECRET="your_recaptcha_secret"
PAYMENT_INFO="pembayaran dikirimkan ke\n\nBCA Norek : xxxx-xxxxx \n\n dan whatsap \n<a target='_11' href='https://wa.me/6281xxxxxxxx?text={{ISIPESAN}}'>Kirim</a>\n"
