.env
public_html/logs/
public_html/error.log
public_html/error_log
public_html/blog/traffic_logs/
public_html/voice/
public_html/banner_mini/
public_html/uploads/
public_html/ai_images/
*.txt
*.log
public_html/cronjob/error_log
public_html/blog/error_log
